.settings
.project

profileserviceweb/.project
profileserviceweb/target/
profileserviceweb/.classpath
profileserviceweb/.settings

servicelayer/.project
servicelayer/target/
servicelayer/.classpath
servicelayer/.settings

repository/.project
repository/target/
repository/.classpath
repository/.settings

model/.project
model/target/
model/.classpath
model/.settings